{% extends "layout.html" %}

{% block title %}
	{{ title }}
{% endblock %}

{% block main%}
	<table class="table">
		<tr>
			<th>Title</th>
			<td>{{ book.title }}</td>
		</tr>
		<tr>
			<th>Author</th>
			<td>{{ book.author }}</td>
		</tr>
		<tr>
			<th>Year</th>
			<td>{{ book.year }}</td>
		</tr>
		<tr>
			<th>ISBN</th>
			<td>{{ book.isbn13 }}</td>
		</tr>
		<tr>
			<th>Review Count</th>
			<td>{{ book.reviews_count }}</td>
		</tr>
		<tr>
			<th>Average Score</th>
			<td>{{ book.average_rating }}</td>
		</tr>
	</table>
{% endblock %}